.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid black;
  width: 100%;
}

.navbarItem {
  padding-top: 25px;
  padding-bottom: 25px;
}

.navbarList {
  list-style: none;
  display: flex;
  gap: 25px;
  position: relative;
  margin: 0;
}

.navbarList a {
  color: #000;
  text-decoration: none;
  position: relative;
  font-size: 14px;
}

.navbarList a::after {
  content: "";
  position: absolute;
  bottom: -27px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.5s ease-out;
}

.navbarList a:hover::after,
.navbarList a:focus::after {
  width: 100%;
}

.logoContainer {
  position: absolute;
  top: 21px;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.navbarIcons {
  display: flex;
  margin-right: 30px;
  gap: 10px;
}

.iconLink {
  display: flex;
  align-items: center;
  margin-left: 10px;
  text-decoration: none;
  color: black;
}

.navbarItem:last-child {
  position: relative;
}

.navbarItem:last-child:hover .dropDownMenu {
  opacity: 1;
  top: 68px;
}

.dropDownMenu {
  opacity: 0;
  min-width: 170px;
  padding: 5px 15px;
  color: rgb(109, 108, 108);
  position: absolute;
  list-style: none;
  text-decoration: none;
  background-color: white;
  z-index: 1;
  border: 1px solid black;
}

.dropDownMenuItem {
  padding: 6px;
}

.dropDownMenuItem a {
  text-decoration: none;
}